@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');
:root {
    --primary-color: #121212;
    --secondary-color: yellow;
    --font-color: white;
    --code-color: #682ae9;
    /* --code-color: rgb(255, 245, 112); */
    --caption-color: #8d2ae9;
    --link-color: #b86dff;
}

body {
    /* background-color: var(--primary-color); */
}

a {
    text-decoration: none;
}

.link-color {
    color: var(--link-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-weight: 600;
}

.tag {
    color: var(--code-color);
}


/* --------------------------------- header ------------------------------------- */

.header {
    height: 100vh;
    width: 100%;
    /* background: #121212; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: dipta 2s;
}

.header h1 span {
    font-family: 'Mr De Haviland', monospace;
    font-size: 4rem;
    margin: 0 13px;
    opacity: 1;
    color: black;
}

.header p {
    color: var(--secondary-color);
    letter-spacing: 0.4rem;
    word-spacing: 0.3rem;
    color: var(--code-color);
}

.header p::after {
    content: '';
    animation: textRoll 10s infinite linear;
}

@keyframes textRoll {
    0% {
        content: 'Welcome to my protfolio.';
    }
    25% {
        content: 'I am a programmer.';
    }
    50% {
        content: 'I like video games.';
    }
    75% {
        content: 'I love web design.';
    }
    100% {
        content: 'Welcome to my protfolio.';
    }
}


/* ---------------------------------nav hover--------------------------------- */

.nav-hover-e {
    color: black;
}

.nav-hover-e:hover {
    color: var(--code-color);
}


/* -------------------------------- about me ------------------------------------ */

.about-me {
    /* height: 100vh; */
}

.about-me-img {
    border: 1px solid red;
    height: 9rem;
    width: 7rem;
}

.about-me a {
    padding: .5rem 1rem;
    border: .5px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: var(--code-color);
    transition: .3s;
}

.about-me a:hover {
    cursor: pointer;
    background-color: var(--code-color);
    color: white;
    border: none;
}


/* ------------------------ projects ------------------------ */

.projects-list-div {
    height: 50vh;
    width: 80%;
    position: relative;
    transition: all .35s ease;
}

.projects-list-div::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s;
    z-index: 2;
}

.projects-list-div:hover::before {
    width: 100%;
}

.projects-list-content {
    position: relative;
    z-index: 5;
    height: 100%;
}

.projects-list-number {
    position: absolute;
    top: -3em;
    right: -2.2em;
    opacity: 0;
    z-index: 10;
    transition: 0.4s;
    color: var(--code-color);
    font-weight: 700;
}

.projects-list-div:hover .projects-list-number {
    opacity: 1;
}

.list1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/bugreport.JPG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.list2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/food.JPG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.list3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/coinLotter.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.list4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/weather.JPG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.list5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/brain_game.PNG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/* ----------------------------------------------
 * Generated by Animista on 2021-9-2 12:32:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation flip-scale-2-hor-top
 * ----------------------------------------
 */

.swing-top-fwd {
    -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: swing-top-fwd 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.opacity-none {
    opacity: 0;
}


/* ----------------------------------------------
 * Generated by Animista on 2021-9-2 12:39:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation swing-top-fwd
 * ----------------------------------------
 */

@-webkit-keyframes swing-top-fwd {
    0% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes swing-top-fwd {
    0% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

.fav-style {
    font-size: 2.3em;
    cursor: pointer;
}

.fav-style:hover {
    color: var(--caption-color);
}